language: node_js
node_js:
  - "12.13.1"
addons:
  apt:
    update: true

jobs:
  include:
    - if: branch = dev
      install:
        - "yarn install"

      script:
        - "yarn run build"
    - if: branch = master
      before_install:
        - sudo apt-get -y install lftp
      install:
        - "yarn install"
      script:
        - "yarn run build"
      after_success:
        - ping home.ustc.edu.cn -c 4
        - lftp -e 'set dns:order "inet inet6" && mirror -R ./dist/ ~/public_html && bye' -u $FTP_USER,$FTP_PASSWD home.ustc.edu.cn
